@import "tailwindcss";

/* Main theme */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* This system comes from shadcn. */
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
}

@layer base {
  :root {
    /* slate theme from shadcn */
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.129 0.042 264.695);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.129 0.042 264.695);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.129 0.042 264.695);
    --primary: oklch(0.208 0.042 265.755);
    --primary-foreground: oklch(0.984 0.003 247.858);
    --secondary: oklch(0.968 0.007 247.896);
    --secondary-foreground: oklch(0.208 0.042 265.755);
    --muted: oklch(0.968 0.007 247.896);
    --muted-foreground: oklch(0.554 0.046 257.417);
    --accent: oklch(0.968 0.007 247.896);
    --accent-foreground: oklch(0.208 0.042 265.755);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.929 0.013 255.508);
    --input: oklch(0.929 0.013 255.508);
    --ring: oklch(0.704 0.04 256.788);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      /* slate dark theme from shadcn */
      --background: oklch(0.129 0.042 264.695);
      --foreground: oklch(0.984 0.003 247.858);
      --card: oklch(0.208 0.042 265.755);
      --card-foreground: oklch(0.984 0.003 247.858);
      --popover: oklch(0.208 0.042 265.755);
      --popover-foreground: oklch(0.984 0.003 247.858);
      --primary: oklch(0.929 0.013 255.508);
      --primary-foreground: oklch(0.208 0.042 265.755);
      --secondary: oklch(0.279 0.041 260.031);
      --secondary-foreground: oklch(0.984 0.003 247.858);
      --muted: oklch(0.279 0.041 260.031);
      --muted-foreground: oklch(0.704 0.04 256.788);
      --accent: oklch(0.279 0.041 260.031);
      --accent-foreground: oklch(0.984 0.003 247.858);
      --destructive: oklch(0.704 0.191 22.216);
      --border: oklch(1 0 0 / 10%);
      --input: oklch(1 0 0 / 15%);
      --ring: oklch(0.551 0.027 264.364);    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Syntax highlighting */

pre:has(.hljs) {
  @apply my-6 rounded-lg bg-slate-50 dark:bg-slate-800 p-4 overflow-x-auto text-sm;
}

pre:has(.hljs) code {
  @apply block min-w-max leading-relaxed;
}

@import "../styles/github.css";

@media (prefers-color-scheme: dark) {
  @import "../styles/github-dark.css";
}

/* Left-over from old world blog posts */

figure {
  @apply my-6 mx-auto flex flex-col items-center justify-center;
}
